
  <nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light better-bootstrap-nav-left">
    <div id="side-menu" style="background-color:#f0f3f5 !important;">
        <button class="close"><span aria-hidden="true">×</span></button>
      </div>
  <a class="navbar-brand" href="">
    <img src='/assets/images/small_logo.png'  width="55" height="60" class="d-inline-block align-center" alt="">

    <img src='/assets/images/nav_logo.png'  width="60" height="22" class="d-inline-block align-center" alt="">
  </a>
  <div style="width: 130px;"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href=""><button class="btn btn-outline-dark" type="button">HOME</button> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="btn btn-dark">
      Research
    </span>
  </div>

</nav>


    <div class="app-body">
        <main class="main">
          <section id="research">
            <div class="card" style="">
            <div class="card-header text-center">
             Readability features
            </div>
              <img class="card-img-top" src="/assets/images/research/1.png" alt="">
              <div class="card-body">                
                <p class="card-text text-justify">Readability is the ease with which a reader can understand a written text. In natural language, the readability of text depends on its content, the complexity of its vocabulary and syntax. The datasets used, had been checked for vareity of readability features and a correlation matrix was formed and visualized for all of them.</p>
              </div>
            </div>

            <div class="card" style="">
            <div class="card-header text-center">
             Lexical Diversity
            </div>
              <img class="card-img-top" src="/assets/images/research/3.png" alt="">
              <div class="card-body">                
                <p class="card-text text-justify">
                          It is defined as the ratio of different unique word stems to the total number of words. The term is used in applied linguistics and related fields as an equivalent to lexical richness. The visualization below shows comparison of lexical richness of real and fake news for the datasets used.
                </p>
              </div>
            </div>

            <div class="card" style="">
            <div class="card-header text-center">
             Punctuations 
            </div>
              <img class="card-img-top" src="/assets/images/research/4.jpg" alt="">
              <div class="card-body">                
                <p class="card-text text-justify">
                The visualization below shows number of punctuations used in real and fake news.
                </p>
              </div>
            </div>

            <div class="card" style="">
            <div class="card-header text-center">
             Personal pronouns
            </div>
              <img class="card-img-top" src="/assets/images/research/2.jpg" alt="">
              <div class="card-body">                
                <p class="card-text text-justify">
                  Use of personal pronouns 'I', 'me' and 'myself' can give a greater insight into the text. The visualization below shows a clear difference in the average use of personal pronouns in real and fake news.
                </p>
              </div>
            </div>

            <div class="card" style="">
            <div class="card-header text-center">
              Trigram (article body)
            </div>
              <img class="card-img-top" src="/assets/images/research/1_trigram(article_body).png" alt="">
              <div class="card-body">                
                <p class="card-text text-justify">
                  N-gram is a contiguous sequence of n items from a given sample of text or speech. The items can be phonemes, syllables, letters, words or base pairs according to the application. The n-grams typically are collected from a text or speech corpus. Mean number of trigrams found in 3 datasets under 2 categories.
                </p>
              </div>
            </div>
          </section>
        </main>

        
    </div>

     <footer class="app-footer">
        <div class="ml-auto">
          ELISA &copy; 2018-2019.
        </div>
        <div class="ml-auto">
        </div>
      </footer>